.app-main {
    padding-top: 48px;
    margin-left: 200px !important;
    grid-area: main;
}

.navbar {
    font-size: 16px;
}

body {
    /* font-size: 12px; */
}

label {
    margin-top: 10px;
    margin-bottom: 3px;
}