.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-content {
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-close {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
    user-select: none;
}

.popup {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 98%;
    padding: 30px 40px;
    position: relative;
    background-color: #fff;
}

.popup-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .5px;
}

.popup--md {
    max-width: 678px;
    padding-left: 44px;
    padding-right: 44px;
}

.popup--sm {
    width: 398px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.popup--sm .mfp-close {
    right: 10px !important;
    top: 10px !important;
}

.popup--lg {
    max-width: 1280px;
}

.popup .mfp-close {
    top: 15px;
    color: #fff;
    right: 15px;
    width: 16px;
    font-size: 16px;
    border-radius: 50%;
    font-size: 0;
    line-height: 1;
    opacity: 1 !important;
    padding: 0;
    height: 20px;
    width: 20px;
}

.popup .mfp-close:after {
    content: "x";
    color: #c9cedf;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    font-family: 'ElegantIcons';
}

.popup .mfp-close:hover:after, .popup .mfp-close:focus:after {
    color: #2da6c5;
}

@media (max-width: 767px) {
    .popup-title {
        font-size: 22px;
    }
}

@media (max-width: 479px) {
    .popup-title {
        font-size: 20px;
    }
    .popup {
        padding: 20px 15px;
    }
    .popup .mfp-close {
        right: 5px;
        top: 5px;
    }
}