.is-sorted {
    cursor: pointer;
}

.is-sorted:hover .sort-icon {
    display: inline;
}

.sort-block {
    width: 20px;
    height: 20px;
    display: block;
}

.sort-icon {
    width: 20px;
    height: 20px;
    display: none;
}

.head-cell-center {
    display: block !important;
    text-align: center;
}

.head-cell {
    display: flex;
}

.head-cell-show {
    display: inline;
}

.head-cell-right {
    float: right;
}