.table-body-row {
    cursor: pointer;
}

.td-right {
    text-align: right;
    padding-right: 22px !important;
}

.menu:after {
    content: '\2807';
    /* font-size: 100px; */
}

.icon-button-icons {
    width: 22px;
    height: 22px;
    vertical-align: baseline;
}
.action-icons {
    width: 16px;
    height: 16px;
    vertical-align: baseline;
}

.td-action {
    display: flex;
}

.td-action button {
    margin-right: 5px;
}

.icon-button {
    padding: 0 10px;
    margin-right: 5px;
    cursor: pointer;
    height: 23px;
    line-height: 23px;
    
}

.menu-actions-icons {
    height: 23px;
}

.menu-actions {
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    max-width: fit-content;
    padding: 0px 5px;
}

.menu-actions:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #003ce2;
    border-color: #003ce2;
}

.td-link {
    color: #003ce2;
    cursor: pointer;
    text-decoration: underline;
}