.drop-down {
    overflow-x: auto;
    max-width: 100vw;
    z-index: 4;
    position: absolute;
    display: none;
    justify-content: end;
    align-items: center;
    color: black;
    min-width: 30px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    outline: none;
    background: white;
    font-size: 16px;
}

.action-button {
    text-align: right;
}

.submit-button {
    margin: 10px;
}

.input {
    background-color: #ffffff !important;
    cursor: pointer;
}