.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    font-size: 16px;
    width: 180px;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link.active {
    color: #007bff;
    
}

.sidebar .nav-link {
    font-weight: 500;
    padding-right: 5px;
    color: #333;
    margin-left: 12px;
}

.nav-link:hover {
    text-decoration: none;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: transparent;
}

.feather:hover {
    color: #808080;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 4px;
    color: #999999;
}

.group-label {
    font-weight: 700;
    width: 100%;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #eae7e7;
    padding-left: 12px;
}